<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Rotator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
            html {
                box-sizing: border-box;
                font-size: 100%;
            }

            *,
            *:before,
            *:after {
                box-sizing: inherit;
            }

            body {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                -webkit-font-smoothing: antialiased;
                -mox-osx-font-smoothing: grayscale;
                text-rendering: optimize-legibility;
                margin: 0;
                padding: 0;
            }

            .number {
                font-size: 80vh;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
            }

            .theme-1 {
                background-color: #a3d29c;
                color: #fa5726;
            }

            .theme-2 {
                background-color: #ffd647;
                color: #8246f0;
            }

            .theme-3 {
                background-color: #fc5624;
                color: #b8d1e8;
            }

            .theme-4 {
                background-color: #1167f9;
                color: #fdcc9c;
            }

            .theme-5 {
                background-color: #62072e;
                color: #b7cfe7;
            }

            .theme-6 {
                background-color: #302a81;
                color: #fdb0a4;
            }

            .theme-7 {
                background-color: #b8d2e9;
                color: #d10b29;
            }

            .theme-8 {
                background-color: #feb0a4;
                color: #8345f1;
            }

            .theme-9 {
                background-color: #302980;
                color: #fed647;
            }

            .theme-10 {
                background-color: #75062f;
                color: #a4d09c;
            }

            .theme-11 {
                background-color: #fecc9b;
                color: #342b7f;
            }
        </style>
    </head>
    <body>
  
      <div class="container">
        <div class="number theme-{{theme}}">
            {{num}}
        </div>
      </div>
    </body>
</html>